@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
body {
    height: 100vh;   
    margin: 0;
    font-family: Arial, sans-serif; 
    overflow: hidden; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    
    background: linear-gradient(45deg, #2980b9, #6dd5fa);
    background-size: 200% 200%; /* Define o tamanho do gradiente */
    animation: animateGradient 10s linear infinite;
  }
  
  
  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .container {
    width: 550px; 
    text-align: center;
    background-color: rgb(231, 230, 225);
    padding: 20px; 
    border-radius: 5px;
    font-family: 'Open sans', sans-serif;
  }

  #title{
    font-size: xx-large;
  }

  #inputname{
    margin-top: 15px;
    border: 0;
    border-radius: 15px;
    padding: 8px;
  }

  #add{
    margin-top: 12px;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    width: 100px;
    color: antiquewhite;
    background-color: #48a8ca;
  }

 #add:hover{
    background-color: #2980b9;
    cursor: pointer;
}

  .placeholder{
    font-size: x-larger;
  }

  #listParticipantes{
    background-color: aliceblue;
    padding: 17px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }

  #participantescadas{
    margin-top: 30px;
  }